.header {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoutButton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: #d32f2f;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.activeLink {
  color: #ffffff;
  background-color: #007bff;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 4px;
}

.inactiveLink {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 4px;
}

